.heroContainer {
    text-align: center;
    justify-content: center;

}

.heroInfo{
    padding-top: 30px;
}

.heroShopButton{
    margin: 20px 0 30px 0;
    text-decoration: none;
    border: none;
    font-size: 17px;
    color: whitesmoke;
    background-color: black;
    width: 77px;
    height: 38px;
    font-weight: 600;
    border-radius: 120px;
    cursor: pointer;
}
.heroShopButton:hover{
    background-color: rgb(122, 122, 122);
}

.heroTitle{
    font-size: 85px;
    font-weight: 900;
    line-height: 12px;
    letter-spacing: -4.6px;
    font-stretch: condensed;
}

.deleteMe{

    text-align: center;
    height: 45px;
    padding: 0 5px 0 5px;
    line-height: 5px;
} 

.deleteMe p {
    
    font-size: 17px;
}


.deleteMe a {
    color: black;
    font-weight: bold;
    font-size: 12px;
}

.featuredContainer{
   
    display: flex;
    flex-wrap: wrap;
    margin: 10px 48px 100px 48px;
}

.featuredTitle{
    font-weight: 500;
    font-size: 25px;
    margin-bottom: 30px;
}

.featuredImages{
    
    display: flex;
    flex-wrap: nowrap;
    gap: 12px;
    justify-content: space-between;
    position: relative;

}